<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>cc.dukzcry.Andigilog</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Andigilog</key>
		<dict>
			<key>IOMatchCategory</key>
			<string>FakeSMCplugin</string>
			<key>IOClass</key>
			<string>Andigilog</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOProviderClass</key>
			<string>I2CDevice</string>
			<key>CFBundleIdentifier</key>
			<string>cc.dukzcry.Andigilog</string>
			<key>Sensors Configuration</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>temp0</key>
					<dict>
						<key>id</key>
						<string></string>
						<key>type</key>
						<string></string>
						<key>size</key>
						<integer>0</integer>
					</dict>
					<key>temp1</key>
					<dict>
						<key>id</key>
						<string></string>
						<key>type</key>
						<string></string>
						<key>size</key>
						<integer>0</integer>
					</dict>
					<key>temp2</key>
					<dict>
						<key>id</key>
						<string>Tm0P</string>
						<key>type</key>
						<string>sp78</string>
						<key>size</key>
						<integer>2</integer>
					</dict>
					<key>temp3</key>
					<dict>
						<key>id</key>
						<string>Th0H</string>
						<key>type</key>
						<string>sp78</string>
						<key>size</key>
						<integer>2</integer>
					</dict>
					<key>tach0</key>
					<dict>
						<key>pwm</key>
						<integer>-1</integer>
						<key>id</key>
						<string></string>
						<key>type</key>
						<string></string>
						<key>size</key>
						<integer>0</integer>
					</dict>
					<key>tach1</key>
					<dict>
						<key>pwm</key>
						<integer>-1</integer>
						<key>id</key>
						<string>PCI Cage</string>
						<key>type</key>
						<string>fpe2</string>
						<key>size</key>
						<integer>2</integer>
					</dict>
					<key>tach2</key>
					<dict>
						<key>pwm</key>
						<integer>2</integer>
						<key>id</key>
						<string>Memory</string>
						<key>type</key>
						<string>fpe2</string>
						<key>size</key>
						<integer>2</integer>
					</dict>
					<key>tach3</key>
					<dict>
						<key>pwm</key>
						<integer>1</integer>
						<key>id</key>
						<string>CPU, 2x</string>
						<key>type</key>
						<string>fpe2</string>
						<key>size</key>
						<integer>2</integer>
					</dict>
				</dict>
				<key>Intel</key>
				<dict>
					<key>DX38BT</key>
					<dict>
						<key>temp0</key>
						<dict>
							<key>id</key>
							<string></string>
							<key>type</key>
							<string></string>
							<key>size</key>
							<integer>0</integer>
						</dict>
						<key>temp1</key>
						<dict>
							<key>id</key>
							<string>TA0P</string>
							<key>type</key>
							<string>sp78</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>temp2</key>
						<dict>
							<key>id</key>
							<string>Tm0P</string>
							<key>type</key>
							<string>sp78</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>temp3</key>
						<dict>
							<key>id</key>
							<string>Th0H</string>
							<key>type</key>
							<string>sp78</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>tach0</key>
						<dict>
							<key>pwm</key>
							<integer>-1</integer>
							<key>id</key>
							<string>Fan 1</string>
							<key>type</key>
							<string>fpe2</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>tach1</key>
						<dict>
							<key>pwm</key>
							<integer>0</integer>
							<key>id</key>
							<string>Fan 2</string>
							<key>type</key>
							<string>fpe2</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>tach2</key>
						<dict>
							<key>pwm</key>
							<integer>2</integer>
							<key>id</key>
							<string>Fan 3</string>
							<key>type</key>
							<string>fpe2</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>tach3</key>
						<dict>
							<key>pwm</key>
							<integer>1</integer>
							<key>id</key>
							<string>CPU</string>
							<key>type</key>
							<string>fpe2</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
					</dict>
					<key>DX48BT2</key>
					<dict>
						<key>temp0</key>
						<dict>
							<key>id</key>
							<string></string>
							<key>type</key>
							<string></string>
							<key>size</key>
							<integer>0</integer>
						</dict>
						<key>temp1</key>
						<dict>
							<key>id</key>
							<string>TA0P</string>
							<key>type</key>
							<string>sp78</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>temp2</key>
						<dict>
							<key>id</key>
							<string>Tm0P</string>
							<key>type</key>
							<string>sp78</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>temp3</key>
						<dict>
							<key>id</key>
							<string>Th0H</string>
							<key>type</key>
							<string>sp78</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>tach0</key>
						<dict>
							<key>pwm</key>
							<integer>-1</integer>
							<key>id</key>
							<string>CPU</string>
							<key>type</key>
							<string>fpe2</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>tach1</key>
						<dict>
							<key>pwm</key>
							<integer>-1</integer>
							<key>id</key>
							<string>MCH</string>
							<key>type</key>
							<string>fpe2</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>tach2</key>
						<dict>
							<key>pwm</key>
							<integer>-1</integer>
							<key>id</key>
							<string>Auxiliary</string>
							<key>type</key>
							<string>fpe2</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
						<key>tach3</key>
						<dict>
							<key>pwm</key>
							<integer>-1</integer>
							<key>id</key>
							<string>Rear</string>
							<key>type</key>
							<string>fpe2</string>
							<key>size</key>
							<integer>2</integer>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>org.netkas.FakeSMC</key>
		<string>4.2.0</string>
		<key>cc.dukzcry.I2CFamily</key>
		<string>1.1</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0</string>
	</dict>
</dict>
</plist>
